*
{
}
body
{
    margin: 0px;
    color: #666;
    background-color: #FFF;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 12px;
}
form, ul, li
{
    margin: 0px;
    list-style-type: none;
    padding: 0px;
}

table
{
    empty-cells: show;
    border-collapse: collapse;
    font-size: 12px;
}

a
{
    color: #005eac;
    text-decoration: none;
}
a:visited, a:active
{
    color: #005eac;
}
a:hover
{
    color: #ff5500;
}
img
{
    border: 0px;
    vertical-align: middle;
}

.head, .main, .foot, .navi
{
    width: 800px;
    margin: 0 auto;
    clear: both;
}

.main
{
    padding: 10px 0px;
    min-height: 700px;
}
.head, .navi
{
    height: 30px;
}

.navi
{
    background-color: #f1f1f1;
}

.head .notice, .navi .navilist
{
    width: 100%;
    text-align: center;
}
.head .notice li, .navi .navilist li
{
    float: left;
    margin: 5px;
}
.foot
{
    padding: 20px 10px;
    height: 30px;
}
.copyleft
{
    width: 100%;
}

.location
{
    width: 95%;
    border-bottom: 2px solid #e1e1e1;
    border-top: 2px solid #e1e1e1;
    padding: 5px;
}
.location a
{
    padding: 3px;
    margin-left: 5px;
}
.copyleft li
{
    float: left;
    margin-left: 10px;
    color: #555;
    font-size: 14px;
}

.categs
{
    border:1px dashed #f1f1f1;
    width: 800px;
    float: left;
}
.categs li
{
    float: left;
    margin-left: 3px;
    padding: 5px;
}
.categs li a
{
    color: #666;
    font-size: 15px;
}

.categs li a.on
{
    color: green;
    font-size: 15px;
}

.articles
{
    width: 750px;
    margin: 0px 25px;
    float: left;
}
.articles p.about
{
    color:red;
    font-size:15px;
    word-spacing:3px;
}
.articles .catename
{
    font-size: 17px;
    padding: 5px;
    color: #000;
    font-weight: 800;
    margin-left: 10px;
    line-height: 30px;
}
.articlelist
{
    padding: 5px;
    width: 100%;
    float: left;
}

.articlelist li
{
    border-bottom: 1px dashed #a1a1a1;
    margin: 5px;
    float: left;
    width: 100%;
}
.articlelist li a.title
{
    float: left;
    font-size: 14px;
    word-spacing: 5px;
    font-weight: 600;
    padding: 3px;
}

.articlelist li span.time
{
    float: right;
}

.articlelist li .desc
{
    float: left;
    width: 80%;
    padding: 3px;
}


.read
{
    width: 750px;
    margin: 20px 25px;
}
.read .infos
{
    width: 746px;
    text-align: center;
    border-bottom: 2px dashed #999;
    margin: 10px 5px;
}
.read .infos span
{
    margin-left: 20px;
    line-height: 30px;
    color: #777;
    padding-bottom: 20px;
}
.read .content
{
    width: 600px;
    font-size: 14px;
    font-family: 微软雅黑;
    margin: 20px 75px;
    word-spacing: 5px;
    line-height: 25px;
}
.read .links
{
    width: 100%;
    float: left;
}
.read .links span, .read .links a
{
    float: left;
    margin: 5px;
}
.read .links .emptydiv
{
    float: left;
}
.read .ding
{
    width: 100%;
    text-align: center;
    padding: 10px 0px;
}
